body{
   


 header{
    background-color:white;
    
    
    .nav-link{
        color: green;
        
    }

    .btn-primary{
        background-color: green;
        border: none;

    }

    
}
.about{
        
        height: 92vh;
      
    }

 

   

    .btn-2{
        
        background-color: green;
        color: green;
        width: 150px;
    }


    .btn-3{
        color: green;
        padding-left: 0;
    }

    .mission{
        margin-top: 5px;      
          margin-bottom: 5px;
        height: 80vh;
        background-image: url(/img/models.png);
        background-size: cover;

    }

    .mission-container{
        margin-top: 30px;
        width: 30px;
        margin-bottom: 30px;
    }


    .features{
        margin-top: 60px;
    }





}

.questions{
        margin-top: 0px;
    }
    
   
   

