body{
   

// header main
 header{
    background-color:white;
    
//header nav links
    .nav-link{
        color: green;
        
    }
// header button
    .btn-primary{
        background-color: green;
        border: none;

    }

    
}
// about section main
.about{
        
        height: 92vh;
      
    }

 

   
// about button 1
    .btn-2{
        
        background-color: green;
        color: green;
        width: 150px;
    }

// about button 2
    .btn-3{
        color: green;
        padding-left: 0;
    }

// mission section main
    .mission{
        margin-top: 5px;      
        margin-bottom: 5px;
        height: 80vh;
        background-image: url(/img/models.png);
        background-size: cover;

    }

// mission h1

    .mission-container h1{
       margin-top: 100px;
    }


    .features{
        margin-top: 60px;
    }





}

.questions{
        margin-top: 0px;
    }
    
   
   

